# Distribution / packaging
**/.Python
**/env/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/*.egg-info/
**/.installed.cfg
**/*.egg

venv/

**/__pycache__/
**/.pytest_cache/

# Serverless directories
**/.serverless

# project specific
*tmp/

# java
target

.DS_Store
.idea
.vscode

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# testing
.coverage

#terraform
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate.d
.build