name: Build and Publish Docker images

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PRIVATE_DOCKER_REGISTRY_URL: ${{ secrets.GITLAB_DOCKER_REGISTRY_URL }}
  PRIVATE_DOCKER_REGISTRY_USER: Deploy-Token
  PRIVATE_DOCKER_REGISTRY_PASS: ${{ secrets.GITLAB_PKG_REGISTRY_TOKEN }}

jobs:

  build-version:
    runs-on: ubuntu-latest
    outputs:
      ARTIFACT_VERSION: ${{ steps.metadata.outputs.ARTIFACT_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup dependencies
        run: |
          pip install yq

      - name: Set extra environment and metadata
        id: metadata
        run: |
          CURRENT_VERSION=$(cat version.txt)
          
          if [ ${{github.event_name}} == "pull_request" ]
          then
            PR_NUMBER=$(echo $GITHUB_REF | awk -F/ '{ print $3 }')
            echo "ARTIFACT_VERSION=${CURRENT_VERSION}-PR${PR_NUMBER}-$GITHUB_RUN_NUMBER" >> "$GITHUB_OUTPUT"
          else
            BRANCH=${GITHUB_REF##*/}
            echo "BRANCH=${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
            echo "ARTIFACT_VERSION=${CURRENT_VERSION}" >> "$GITHUB_OUTPUT"
          fi

  api:
    runs-on: ubuntu-latest
    env:
      APP_NAME: cf-metadata-server
    needs: build-version
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '18'
          cache: maven

      - name: Build
        run: mvn clean package

      - name: Private Docker Hub Login
        uses: docker/login-action@v2
        with:
          registry: ${{ env.PRIVATE_DOCKER_REGISTRY_URL }}
          username: ${{ env.PRIVATE_DOCKER_REGISTRY_USER }}
          password: ${{ env.PRIVATE_DOCKER_REGISTRY_PASS }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push docker image
        uses: docker/build-push-action@v4
        env:
          ARTIFACT_VERSION: ${{needs.build-version.outputs.ARTIFACT_VERSION}}
        with:
          context: api
          push: true
          tags: |
            ${{ env.PRIVATE_DOCKER_REGISTRY_URL }}/${{ env.APP_NAME }}:${{ env.ARTIFACT_VERSION }}
